<section class="block block--call-out">
  <img
    src="assets/images/image-founder.webp"
    alt="photo of founder of Workit"
    class="founder"
  />
  <div class="call-out__content">
    <h2 class="call-out__heading">Be the first to test</h2>
    <p>
      Hi, I'm Louis Graham, the founder of the company. Book a demo call with me
      to become a beta tester for our app and kickstart your company. Apply for
      access below and I&#39;ll be in touch to schedule a call.
    </p>
    <a href="#" class="btn call-out__btn">Apply for access</a>
  </div>
</section>
